/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

%hero-text{
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
